---
import Body from "@atoms/Body.tsx";
import Main from "@atoms/Main.tsx";
import DepartureMonoWoff2 from "@assets/fonts/DepartureMono-Regular.woff2";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height, viewport-fit=cover, interactive-widget=resizes-content" />
    <meta name="theme-color" content="#09090b" />
    <meta name="color-scheme" content="dark" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      href={DepartureMonoWoff2}
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <title>{title}</title>
  </head>
  <Body className="bg-zinc-950 text-[15px] leading-normal tracking-tight text-white">
    <Main className="mx-auto max-w-full">
      <slot />
    </Main>
  </Body>
  <style is:global>
    @font-face {
      font-family: "Departure Mono";
      src: 
        url("../assets/fonts/DepartureMono-Regular.woff2") format("woff2"),
        url("../assets/fonts/DepartureMono-Regular.woff") format("woff"),
        url("../assets/fonts/DepartureMono-Regular.otf") format("opentype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    * {
      font-family: Departure Mono, monospace !important;
      touch-action: pan-x pan-y;
    }

    html {
      height: -webkit-fill-available;
    }
  </style>
</html>
